<div class="container body-container">
<!--
<br> <% if @goat.picture.attached? %>

<%=cl_image_tag @goat.picture.key, height: 300, width: 400, crop: :fill %>

<% end %> -->


<br> <h1> <%= @goat.name.capitalize %> </h1>

<div class="card">

<br> <% if @goat.picture.attached? %>

<%=cl_image_tag @goat.picture.key, height: 300, width: 400, crop: :fill %>

<% end %>

  <ul>
      <br><li> <%= "Age : #{@goat.age} ans" %></li>
      <br><li> <%= "Race : #{@goat.race.capitalize}" %></li>
      <br><li> <%= "Appétit : #{@goat.appetite.capitalize}" %></li>
      <br><li> <%= "Atout charme : #{@goat.bonus.capitalize}" %></li>
      <br><li> <%= "Prix : #{@goat.price}€ / jour" %></li>
  </ul>
</div>

<div class="card">
   <%= "Description : #{@goat.description.capitalize}" %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-marker="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="btn-green btn-center">
  <%=link_to "Réservez-moi", new_goat_reservation_path(@goat) %>
</div>


 <br> <%= link_to "Retour", goats_path %>
</div>
